SUPABASE_URL=https://khxwvkgqiaqqiigwcwvn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoeHd2a2dxaWFxcWlpZ3djd3ZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzIwMDgsImV4cCI6MjA5MDI0ODAwOH0._8p0dgPpEb6L_HyOWobXvPYCCyb0Rs_Jnp5U0p4E-pA
